@charset "UTF-8";
*{
    background-attachment: fixed;
}
body{
    background-image: linear-gradient(160deg, #BFBFB8, #A4A69C, #4C594F 80%);
}
main{
    margin: auto;
    width: 600px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* Medidas absolutas
    cm, mm, in, px, pt, pc

    Medidas Relativas
    em, ex, rem, vw, % 
    16px = 1em */
    background-color: #A4A69C;
    box-shadow: 5px 5px 17px #232625;
    border-radius: 15px;
    text-align: justify;
    /* weight(peso) width(largura) height(altura) */
    /* font: style weigth size family */
}
h1{
    text-align: center;
    color: #232625;
    font-weight: lighter;
    font-style: italic;
}
h2{
    text-align: center;
    text-decoration: underline;
}
p{
    font-size: 1.2em;
}