@charset "UTF-8";
/* Estilos para Telas */
*{
    margin: 0px;
    padding: 0px;
}
html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
}
header{
    background-color: lightblue;
}
header > h1{
    text-align: center;
}
menu ul{
    list-style-type: none;
    background-color: cadetblue;
}
menu li{
    display: inline-block;
    padding: 10px;
    background-color: darkkhaki;
}
article{
    width: 500px;
    margin: auto;
    display: block;
    text-align: justify;
}