@charset "UTF-8";
body{
    background-color: rgb(36, 61, 36);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
h1{
    color: aliceblue;
}
h2{
    color: darkgray;
}
p{
    color: rgb(199, 177, 177);
}