@charset "UTF-8";
/* Configurações Gerais */
*{
    margin:0px;
    padding: 0px;
}
html, body{
    width: 100vw;
    height: 100vh;
    background-size: contain; /* colocar a imagem toda */
    background-repeat: no-repeat;
    background-color: blue
}
h1{
    color: aliceblue;
    text-shadow: 3px 3px 0px #2136d6;
    padding: 10px;
}